.container{
  display: flex;
  justify-content: space-between;
}

.menu_container{
  display: flex;
}

.menu_container li{
  padding: 10px;
  list-style-type: none;
}

.menu_container li a{
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* FOOTER REALTED CSS */
.footer_container{
  width: 100%;
  height: 50px;
  background: black;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}